* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.containerforCards {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  
}

.card {
  border: 1px solid rgb(102, 100, 100);
  padding: 10px;
  border-radius: 20px;
}

.card > button {
  padding: 8px;
  border-radius: 10px;
  background-color: rgb(109,78,236);
  color: #ffff;
}
.card > {
  width: 200px;
}

header {
  background-color: rgb(70, 23, 23);
}

header > nav > ul {
  display: flex;
  align-items: center; /* Center items vertically */
}

header > nav > ul > li {
  margin-right: 15px; /* Add some space between items */
    list-style-type: none;
    padding: 10px;


}

header > nav > ul > li > a > img {
  width: 50px;
  display: block; /* Ensures the image is treated as a block for better alignment */
}

header > nav > ul > li > a {
  text-decoration: none; /* Remove underline from links */
  color: white; /* Change text color to contrast with the background */
}

table, tr, th, td {
  border: 1px solid black;
}

.button-87 {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

.SignIn {
background-color: red;
margin-left: auto;
position: relative;
right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 80px;
  height: 30px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

button:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

button:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

button:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
