* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main > .containerforCards > .card > img {
  width: 100px;
}
header {
  background-color: rgb(70, 23, 23);
}

header > nav > ul {
  display: flex;
  align-items: center; /* Center items vertically */
}

header > nav > ul > li {
  margin-right: 15px; /* Add some space between items */
    list-style-type: none;

}

header > nav > ul > li > a > img {
  width: 50px;
  display: block; /* Ensures the image is treated as a block for better alignment */
}

header > nav > ul > li > a {
  text-decoration: none; /* Remove underline from links */
  color: white; /* Change text color to contrast with the background */
}

table, tr, th, td {
  border: 1px solid black;
}

.card > img {
  width: 100px;
}